.list {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 250px;
    background: var(--timeline-bg);
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.list-header {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    display: flex;
    align-items: center;
    justify-content: space-around;
}


.list-minimize {
    position: relative;
    width: 28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    z-index: 10;
}

.list-minimize::before,
.list-minimize::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.list-minimize:hover {
    background-color: rgba(255, 51, 0, 0.7);
    transform: rotate(90deg);
}

.list-minimize:hover::before {
    transform: translate(-50%, -50%) rotate(90deg);
}


.list-content {
    max-height: 400px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(237, 186, 48, 0.214);
  border-radius: 10px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: .5rem;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.list-item:hover {
    background: rgba(255, 255, 255, 0.1);
}
.list-item:active {
    background: rgba(255, 255, 255, 0.3);
}

.list-title {
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

.list-year {
    font-size: 0.75rem;
    opacity: 0.7;
}

.list-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.list-person {
    
}

.list-footer {
}

@media screen and (max-width: 768px) {
    .list {
        width: 100vw;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1.5rem 1rem .5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .list-content {
        max-height: 200px;
        gap: .5rem;
    }
}